<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="s" class="com.entities.Student">
		<property name="sId" value="1102"></property>
		<property name="sName" value="Ram"></property>
		<property name="city" value="Goa"></property>
		<property name="crs" ref="c"></property>
	</bean>

	<bean id="c" class="com.entities.Course">
		<property name="cId" value="203"></property>
		<property name="cName" value="Java"></property>
	</bean>
</beans>